# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a Python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
.cache/

# Mypy
pyrightconfig.json

# Unit test / coverage reports
*.cover
.coverage
.coverage.*
.cache
.nox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# IDE and editor settings
.idea/
.vscode/
*.swp
*.swo




# Backup files
*.bak
*.tmp
*.old

# Temporary files
*.~*
*.temp